<p>
  <strong>Marca:</strong>
  <%= @auto.marca %>
</p>
 
<p>
  <strong>Modelo:</strong>
  <%= @auto.modelo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @auto.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @auto.longitud %>
</p>

<h2>Piezas</h2>
<%= render @auto.piezas %>

<h2>Agregar piezas:</h2>
<%= render 'piezas/form' %>


<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Atrás', autos_path %>

#esta pagina me muestra el resultado de lo que guarde en mi base de datos